<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Yelp Camp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/landing.css">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGz7EljAkH0aeGazKuqKmPbX9QTN3C6dk&callback=initMap" async defer></script>
</head>

<body>
	<div class="container">
		<div id="landing-header">
			<h1>Welcome to PhotoLiker!</h1>
			<hr class="my-4">
			<a class="btn btn-lg btn-danger" href="/home">View All Photos</a>
		</div>
	</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
<% include partials/footer %>
